{% from "_formhelpers.html" import render_field %}
{% extends "layout.html" %}
{% block body %}
  <h1>Download</h1>
  {% if error %}
    <p class=error><strong>Error:</strong> {{ error }}
  {% endif %}
<p>
    Here you can download BestMiner client program which is need to be installed in each rig farm.
</p>
<ol>
    <li>Download <a href="/user/download_win">this ZIP file</a> to each of your Rig Farm</li>
    <li>unZIP this file to Desktop (or any other directory you want)</li>
    <li>run BestMiner.bat</li>
    <li>Wait for ~20 seconds and you will see it on <a href="/user/rigs">my workers</a> page</li>
    <li>add BestMiner.bat to system startup</li>
</ol>
<p>
    Note: You can install the same ZIP file on every rig. You do not need to download it each time separately.
</p>
{% endblock %}

