{% extends "layout.html" %}
{% from "_formhelpers.html" import render_field %}
{% block head %}

<script type="text/javascript" >
var rig_data = {{ rig_data|tojson|safe }}
</script>

{% endblock %}
{% block body %}
{% from "_formhelpers.html" import render_field %}

<!-- https://itchief.ru/lessons/bootstrap-3/100-bootstrap-3-dynamic-tabs -->
<script>
$(function(){
    // Отображается 1 вкладка,
    // т.к. отсчёт начинается с нуля
    // $("#navTabs li:eq(2) a").tab('show');
});
</script>
<ul id="navTabs" class="nav nav-tabs">
  <li><a data-toggle="tab" href="#panel_info">Info</a></li>
  <li><a data-toggle="tab" href="#panel_hashrate">Benchmark</a></li>
  <li><a data-toggle="tab" href="#panel_profit">Profit</a></li>
  <li><a data-toggle="tab" href="#panel_screen">Screen</a></li>
  <li><a data-toggle="tab" href="#panel_edit">Settings</a></li>
</ul>

<div class="tab-content">
  <div id="panel_info" class="tab-pane fade in active">
<h2>Configurations:</h2>
        <div>
            <h2>Set what to mine</h2>
    <table class="table">
        <thead>
        <tr>
            <td>Config</td>
            <td>Profit</td>
            <td>Command</td>
        </tr>
        </thead>
        <tbody>
    {% for config in configs %}
        <tr>
            <td>{{ config.name }}</td>
            <td>{{ config.profit }}</td>
            {% if config.current %}
            <td>current</td>
            {% else %}
            <td><button onclick="ajax_call('switch_config.json', { 'config': '{{ config.id }}' })">Switch</button></td>
            {% endif %}
        </tr>
    {% endfor %}
        </tbody>
    </table>

  </div>


<h2>Profit management</h2>
<div class="row">
  <div class="col-4">
    <div class="list-group" id="list-tab" role="tablist">
      <a class="list-group-item list-group-item-action active" id="list-manual-list" data-toggle="list" href="#list-manual" role="tab" aria-controls="manual">Manual</a>
      <a class="list-group-item list-group-item-action" id="list-autoswitch-list" data-toggle="list" href="#list-autoswitch" role="tab" aria-controls="autoswitch">Automatic</a>
    </div>
  </div>
  <div class="col-4">
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="list-manual" role="tabpanel" aria-labelledby="list-manual-list">
        In Manual mode you can set your own mining configuration. You can choose currency, pool and wallet.
      </div>
      <div class="tab-pane fade" id="list-autoswitch" role="tabpanel" aria-labelledby="list-autoswitch-list">
        In Automatic mode BestMiner will choose set profitable configuration for each rig.
      </div>
    </div>
  </div>
</div>
<script>
  $('a[data-toggle="list"]').on('shown.bs.tab', function (e) {
  e.target // newly activated tab
  //alert(e.target.innerText)
  $('#confirmSwitchToNewMode').show()
  e.relatedTarget // previous active tab
})

function set_profit_manager() {
active = $('div#list-tab a.active')
ajax_call('switch_mode.json', { 'mode': active[0].innerText })
}

</script>
  <div id="confirmSwitchToNewMode" style="display:none">
      <button onclick="set_profit_manager()">Set profit management</button>
</div>

  </div><!-- END OF PANEL -->
  <div id="panel_hashrate" class="tab-pane fade">

<h2>Hashrate</h2>

<button onclick="ajax_call('start_benchmark.json')">Start benchmark</button>
<table class="table">
    <thead>
  <tr>
    <th>Algorithm</th>
    <th>Miner</th>
    <th>Hashrate</th>
  </tr>
  </thead>
    <tbody>
{% for data in algos %}
  <tr>
    <td>{{ data['algo'] }}</td>
    <td>{{ data['miner'].name }}</td>
{% if not data['target_hashrates'] %}
    <td>Need benchmark</td>
{% else %}
      <td>{{  ",".join(data['target_hashrates']) }} </td>
{% endif %}
  </tr>
{% endfor %}
    </tbody>
</table>


  </div><!-- END OF PANEL -->
  <div id="panel_profit" class="tab-pane fade">

<script>
$(document).ready(function() {
    var table = $('#datalist').DataTable({
        "ajax": "profit_data.json",
        "paging": false,
        "scrollY": 400,
        "select": {
            style:    'os',
            selector: 'td:first-child'
        },
        "order": [[ 6, "desc" ]],
        "columns": [
            { "data": "currency" },
            { "data": "hashrate" },
            { "data": "net_hashrate" },
            { "data": "reward" },
            { "data": "rate" },
            { "data": "profit_btc" },
            { "data": "profit" }
        ]
    })
 });
</script>

      <h2>Profit table</h2>
<table id="datalist" class="display" cellspacing="0">
        <thead>
            <tr>
                <th>Currency</th>
                <th>My hashrate</th>
                <th>Net hashrate</th>
                <th>Reward 24h</th>
                <th>Exchange</th>
                <th>Profit BTC</th>
                <th>Profit</th>
            </tr>
        </thead>
</table>


  </div><!-- END OF PANEL -->
  <div id="panel_screen" class="tab-pane fade">

<h2>Miner Screen view</h2>
<script type="text/javascript" >
function get_log() {
  $.ajax({
  url: "/user/rig/" + rig_data.uuid + "/log",
  success: function(result) {
   $("#log_area").html(result);
  }
});
setTimeout('get_log()',5000)
}

$(document).ready(function() {
    get_log()
})

</script>
<pre id="log_area">
{{ log }}
</pre>

  </div><!-- END OF PANEL -->

  <div id="panel_edit" class="tab-pane fade">



      <h2>Edit rig properties</h2>

<form method=post>
  {{ form.csrf_token }}
  {{ render_field(form.worker) }}
  {{ render_field(form.comment) }}
  {{ render_field(form.os, style="height: 30px;") }}
  {{ render_field(form.pu, style="height: 30px;") }}
  {{ render_field(form.disabled_miner_programs, style="height: 100px;") }}
  {{ form.overclocking.csrf_token }}
  {{ render_field(form.overclocking.core) }}
  {{ render_field(form.overclocking.memory) }}
  {{ render_field(form.overclocking.power_limit) }}
  {{ render_field(form.overclocking.fan_start_value) }}
  {{ render_field(form.overclocking.fan_target_temperature) }}
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

  </div><!-- END OF PANEL -->
</div>



{% endblock %}
