{% extends "layout.html" %}

{% block head %}
<script>
$(document).ready(function() {

    var table = $('#datalist').DataTable({
        "ajax": "rigs.json",
        "paging": false,
        "scrollY": 400,
        "select": {
            style:    'os',
            selector: 'td:first-child'
        },
        "columns": [
            { "data": "name" },
            { "data": "online",
                render: function ( data, type, row ) {
                    if (data.is_online) {
                        return 'ON (' + data.uptime + ')'
                    } else {
                        return 'OFF'
                    }
                }
            },
            { "data": "miner",
                render: function ( data, type, row ) {
                    if (data.is_run) {
                        return data.configuration_name
                    } else {
                        return '(stop)' + data.configuration_name
                    }
                }
            },
            { "data": "profit" },
            { "data": "hashrate" },
            { "data": "temp" },
            {
                "targets": -1,
                "data": null,
                "defaultContent": "<button class='edit' title='Edit'>Edit</button> <button class='cl'>Info</button> <button class='o' title='Reboot rig'>R</button> <button class='x' title='Delete rig'>X</button>"
            }
        ]
    });

setInterval( function () {
    table.ajax.reload();
}, 20000 );

$( "#dialog-confirm" ).dialog({
      resizable: false,
      height: "auto",
      width: 400,
      modal: true,
      autoOpen: false,
      buttons: [
        {
         text: "YES",
         
         classes: {
    "ui-button": "highlight"
  },
  click: function() {
            $( this ).dialog( "close" );
            url = $("#dialog-url").text()
            ajax_call(url)
            }
        },
        {
         text: 'Cancel',
         click: function() {
            $( this ).dialog( "close" );
           }
        }
      ]
    });
    
 // https://datatables.net/examples/ajax/null_data_source.html
     $('#datalist tbody').on( 'click', 'button.cl', function () {
        var data = table.row( $(this).parents('tr') ).data();
        alert( data['name'] +"'s info is "+ data['info'] );
    } );

     $('#datalist tbody').on( 'click', 'button.edit', function () {
        var data = table.row( $(this).parents('tr') ).data();
        window.location.href = '/user/rig/' + data['uuid'] + '/info'
    } );

    $('#datalist tbody').on( 'click', 'button.o', function () {
        var data = table.row( $(this).parents('tr') ).data();
        $("#dialog-message").text('Are you shure you want to REBOOT rig ' + data['name'] + '?');
        $("#dialog-url").text('/user/rig/' + data['uuid'] + '/reboot.json');
        $( "#dialog-confirm" ).dialog("open");
    } );

    $('#datalist tbody').on( 'click', 'button.x', function () {
        var data = table.row( $(this).parents('tr') ).data();
        $("#dialog-message").text('Confirm deleting rig ' + data['name'] + '?');
        $("#dialog-url").text('/user/rig/' + data['uuid'] + '/delete.json');
        $( "#dialog-confirm" ).dialog("open");
    } );
} );
</script>
{% endblock %}

{% block body %}
<div class=page>
<h1>Workers list</h1>
<table id="datalist" class="display" cellspacing="0" width="800">
        <thead>
            <tr>
                <th>Name</th>
                <th>Status</th>
                <th>Mining</th>
                <th>Profit</th>
                <th>Hashrate</th>
                <th>Temp,C</th>
                <th>Action</th>
            </tr>
        </thead>
</table>

<div id="dialog-confirm" title="Reboot confirmation">
  <p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span><span id="dialog-message"></span></p>
    <span style="display: none" id="dialog-url"></span>
</div>

</div>


{% endblock %}
